@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@200;500;700&display=swap");

:root {
  --background-color: #eff5ff;
  --primary-color: #59a9ff;
  --text-primary-color: #0b1530;
  --text-secondary-color: #4f586e;
  --field-color: #dcebff;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  /* font-family: "Oleo Script Swash Caps", cursive; */
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}

#root {
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
